<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../css/navigation.css">
    <link rel="stylesheet" href="../css/popup.css">
    <link rel="shortcut icon" href="#">
    <title>Lok Yin - Menu</title>
</head>
<body>
    <!-- CART -->
    <div id="cart">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15.55 13c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.37-.66-.11-1.48-.87-1.48H5.21l-.94-2H1v2h2l3.6 7.59-1.35 2.44C4.52 15.37 5.48 17 7 17h12v-2H7l1.1-2h7.45zM6.16 6h12.15l-2.76 5H8.53L6.16 6zM7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zm10 0c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z"/></svg>
    </div>


    <!-- NAVIGATION -->
    <div id="nav-support"></div>
    <nav>
        <a href="/" id="home-logo">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1330.66 1174.88"><g id="Layer_2" data-name="Layer 2"><g id="Full"><path d="M1326.38,1126.6h-85.92v-31.14h4.48a4.29,4.29,0,1,0,0-8.57H1159v-31.14h4.49a4.29,4.29,0,0,0,0-8.57H1059.71L903.2,844.46l14.09-18.24,79.29-102.63,13.39,13,92.56,89.66h0C1122.1,849.29,1114.13,838,1123,837c3.55-.42,5.38-5,6.57-10.77,1.76-8.54,2.1-19.56,4.61-22.9,4.19-5.59,11.65-2.33,15.41-7.22a16,16,0,0,0,2.51-7.29c.07-.47.12-.94.16-1.4a48.32,48.32,0,0,0,34.27-41.79c.14-1.47.21-3,.21-4.46V741a33.72,33.72,0,0,0-5.23-17.67c-4.39-7-8.81-14.09-12-19.2l-.09-.13c-2.8-4.41-4.71-7.33-4.93-7.47-.71-.45-1.38-4.4-1-7.79,0,0,0,0,0,0s0-.22.08-.33a7.8,7.8,0,0,1,2.31-3.86,27.57,27.57,0,0,0,4-4.93c3.89-5.89,7.92-15.09,7.14-23.29a1.47,1.47,0,0,1,1-1.53c10.4-3.27,11.49-18.76,10.24-23.67a1,1,0,0,1,.25-1c1.1-1.12,1.79-5.29-.9-8.87a1,1,0,0,1,0-1.21c2.77-3.89,5.61-21.42,2.93-31.76a2.2,2.2,0,0,1,.38-1.95c7.11-8.8-2-54.44-.91-42,.92,10.16-2,23.1-3.3,28a5.54,5.54,0,0,1-2.17,3.14c-3.4,2.4-11.25,8.28-15.18,14.1a5.52,5.52,0,0,0-.9,3.41c.48,8.63-1.17,13.24-2,14.9a.44.44,0,0,1-.8,0,28.78,28.78,0,0,1-2.37-8.35.51.51,0,0,0-.81-.33c-14.37,10.85-15,22.64-14.65,27.21,0,.1-.13.12-.14,0a52.58,52.58,0,0,1-1.07-10.26.08.08,0,0,0-.12-.06c-12.2,7.09-14.1,21.91-14.4,26.71a.19.19,0,0,1-.37,0,9,9,0,0,0-3.08-4.56.45.45,0,0,0-.6.06c-6.65,7.33-7,16.83-6.92,20.34a.19.19,0,0,1-.36.08,29.43,29.43,0,0,0-3.57-5.82.45.45,0,0,0-.78.14c-6.32,21.73-1.48,36.46,1.42,42.58a.25.25,0,0,1-.36.31,4.55,4.55,0,0,0-2-.59.41.41,0,0,0-.44.42c0,1,0,2.06.12,3,1.65,25.07,21.14,27.7,21.14,27.7h0a14.25,14.25,0,0,1,2.18-.16,14.62,14.62,0,0,1,11.24,5.24h0A14.7,14.7,0,0,1,1128.6,752l-.51-.49-32.84-31.81-3.93-3.8L931.42,561l-.71-.69-85.1-82.45-16.53-16L687,324.22c9.35-2.07,15.23-5.08,15.23-8.43s-6-6.43-15.62-8.5a.15.15,0,0,1,0-.29c9.58-2.09,15.62-5.14,15.62-8.53,0-3.56-6.68-6.74-17.11-8.81a.16.16,0,0,1-.12-.15v-4.09a.14.14,0,0,1,.1-.14c12.68-5,21-13.29,21-22.64s-8.28-17.6-21-22.63a.15.15,0,0,1-.1-.14v-3.24a1.74,1.74,0,0,0-1.73-1.74h-7.7a.15.15,0,0,1-.07-.29c2.69-1.34,4.26-3,4.26-4.77,0-3-4.35-5.55-10.91-7a.14.14,0,0,1,0-.28c4.13-1.53,6.73-3.79,6.73-6.32,0-.52-6.16-36.52-8.54-54-1.24-9-2.49-18-3.6-27s-1.89-18-2.49-27l-1.66-27c-.45-9-1-18-1.37-27-.82-18-1.47-36-1.62-54.06-.15,18-.8,36-1.63,54.06-.36,9-.91,18-1.37,27l-1.65,27c-.61,9-1.41,18-2.49,27s-2.36,18-3.6,27c-2.39,17.49-8.54,53.49-8.54,54,0,2.53,2.6,4.79,6.73,6.32a.14.14,0,0,1,0,.28c-6.56,1.48-10.91,4.07-10.91,7,0,1.78,1.57,3.43,4.26,4.77a.15.15,0,0,1-.06.29h-7.7a1.74,1.74,0,0,0-1.74,1.74v3.24a.15.15,0,0,1-.1.14c-12.68,5-21,13.29-21,22.63s8.28,17.61,21,22.64a.14.14,0,0,1,.1.14v4.09a.16.16,0,0,1-.12.15c-10.43,2.07-17.11,5.25-17.11,8.81,0,3.39,6,6.44,15.62,8.53a.15.15,0,0,1,0,.29c-9.58,2.07-15.62,5.11-15.62,8.5s5.88,6.36,15.23,8.43L483.42,461.89l-16.53,16-85.1,82.45-.71.69-159.9,154.9-3.93,3.8-32.84,31.81-.51.49a14.7,14.7,0,0,1-21.13-20.34h0A14.62,14.62,0,0,1,174,726.46a14.25,14.25,0,0,1,2.18.16h0s19.49-2.63,21.14-27.7c.07-1,.11-2,.12-3a.41.41,0,0,0-.44-.42,4.55,4.55,0,0,0-2,.59.25.25,0,0,1-.36-.31c2.9-6.12,7.74-20.85,1.42-42.58a.45.45,0,0,0-.78-.14,29.43,29.43,0,0,0-3.57,5.82.19.19,0,0,1-.36-.08c.11-3.51-.27-13-6.92-20.34a.45.45,0,0,0-.6-.06,9,9,0,0,0-3.08,4.56.19.19,0,0,1-.37,0c-.3-4.8-2.2-19.62-14.4-26.71a.08.08,0,0,0-.12.06,52.58,52.58,0,0,1-1.07,10.26c0,.09-.15.07-.14,0,.38-4.57-.28-16.36-14.65-27.21a.51.51,0,0,0-.81.33,28.78,28.78,0,0,1-2.37,8.35.44.44,0,0,1-.8,0c-.78-1.66-2.43-6.27-2-14.9a5.52,5.52,0,0,0-.9-3.41c-3.93-5.82-11.78-11.7-15.18-14.1a5.54,5.54,0,0,1-2.17-3.14c-1.26-4.93-4.22-17.87-3.3-28,1.13-12.41-8,33.23-.91,42a2.2,2.2,0,0,1,.38,1.95c-2.68,10.34.16,27.87,2.93,31.76a1,1,0,0,1,0,1.21c-2.69,3.58-2,7.75-.9,8.87a1,1,0,0,1,.25,1c-1.25,4.91-.16,20.4,10.24,23.67a1.47,1.47,0,0,1,1,1.53c-.78,8.2,3.25,17.4,7.14,23.29a27.57,27.57,0,0,0,4,4.93,7.8,7.8,0,0,1,2.31,3.86c0,.11.05.22.08.33s0,0,0,0c.39,3.39-.28,7.34-1,7.79-.22.14-2.13,3.06-4.93,7.47l-.09.13c-3.24,5.11-7.66,12.16-12.05,19.2A33.72,33.72,0,0,0,125.77,741v.12c0,1.5.07,3,.21,4.46a48.32,48.32,0,0,0,34.27,41.79c0,.46.09.93.16,1.4a16,16,0,0,0,2.51,7.29c3.76,4.89,11.22,1.63,15.41,7.22,2.51,3.34,2.85,14.36,4.61,22.9,1.19,5.74,3,10.35,6.57,10.77,8.86,1,.89,12.3,20.45-10.76h0l92.56-89.66v310.62H167.38a4.29,4.29,0,1,0,0,8.57h4.48v31.14H85.71a4.29,4.29,0,0,0,0,8.57H90.2v31.14H4.28a4.29,4.29,0,0,0,0,8.57H8.77v39.71H1321.89v-39.71h4.49a4.29,4.29,0,0,0,0-8.57ZM502.3,1047.18H432.53V910.32H502.3Zm0-266.86H432.53V610.62l.58-.56,69.19-67Zm177.9,266.86H632.3V461.89h47.9ZM810.2,543l69.19,67,.58.56L906.18,636l-96,124.25Zm0,504.15V928.65l91.51,118.53Z"/></g></g></svg>
        </a>
        <div id="callToAction">ទាញយកកម្មវិធី</div>
    </nav>


    <!-- POP-CONTAINER -->
    <div id="pop-container">
        <div id="pop-header">
            <svg id="pop-cross" class="cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>

            <svg id="addCartBtn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg>
        </div>
        <div id="extras-container">
            <h3 id="orderName">គុយទាវ</h3>
            <hr>
            <div id="extras-div">

                <div class="extra">
                    <h4>ប្រភេទ</h4>
                    <label for="គោក"><input type="radio" id="គោក" name="type" class="choiceBtn firstRadio"> គោក</label>
                    <label for="អត់បន្លែ"><input type="radio" id="អត់បន្លែ" name="type" class="choiceBtn"> អត់បន្លែ</label>
                    <label for="បន្ថែមសាច់"><input type="radio" id="បន្ថែមសាច់" name="type" class="choiceBtn"> បន្ថែមសាច់</label>
                </div>
                <div class="extra">
                    <h4>ពណ៌</h4>
                    <label for="ក្រហម"><input type="checkbox" id="ក្រហម" name="ពណ៌" class="choiceBtn"> ក្រហម</label>
                    <label for="ខៀវ"><input type="checkbox" id="ខៀវ" name="ពណ៌" class="choiceBtn"> អត់បន្លែ</label>
                    <label for="បៃតង"><input type="checkbox" id="បៃតង" name="ពណ៌" class="choiceBtn"> បន្ថែមសាច់</label>
                </div>

            </div>

            <hr>
            <div id="pop-qty">
                <button id='minus'>-</button>
                <input min="0" step="1" oninput="validity.valid||(value='');" type="number" value="1" id="qty" class="pop-qty-input">
                <button id="plus">+</button>
            </div>
            <hr>

            <div id="description">
                <h4>បរិយាយ</h4>
                <textarea placeholder="បរិយាយ" id="description-input"></textarea>
            </div>
        </div>
    </div>

    <!-- MAIN -->
    <main>
        <div id="categories">
                <!-- ALL CATEGORIES -->

                <!-- <a href="./ភេសជ្ជៈកំប៉ុង.html" class="category">
                    <div><img src="./images/ភេសជ្ជៈម៉ាសុីន.png" alt="ភេសជ្ជៈកំប៉ុង"></div>
                    <h4>ភេសជ្ជៈកំប៉ុង</h4>
                </a> -->
                <% for (let category of categories) { %> 
                <a href="/<%= category %>" class="category">
                    <div><img src="./images/គុយទាវ.png" alt="<%= category %>"></div>
                    <h4><%= category %></h4>
                </a>
                <% } %> 

        </div>
        
        <div id="main-menu">
            <h2 class="specific"><%= id %> </h2>
            <div class="specific-food-container">

                <!-- FOOD MENU -->
                <!-- <div class="specific-food" data-price="10000">
                    <div class="food-img">
                        <img src="images/គុយទាវសាច់ជ្រូក.png" alt="គុយទាវសាច់ជ្រូក">
                    </div>
                    <h3 class="food-name">គុយទាវសាច់ជ្រូក</h3>
                    <h4 class="food-price">10000៛</h4>
                </div> -->
                <% for (let food in foods) { %> 
                <div class="specific-food" data-category="<%= foods[food].category.join(" ") %>" data-price="<%= foods[food].price %>">
                    <div class="food-img">
                        <img src="images/គុយទាវ.png" alt="<%= food %> ">
                    </div>
                    <h3 class="food-name"><%= food %> </h3>
                    <h4 class="food-price"><%= foods[food].price %>៛</h4>
                </div>
                <% } %> 
                
            </div>
        </div>
    </main>


    <!-- RECEPT CONTAINER -->
    <div id="overlay"></div>
    <div id="recept-container">
        <section id="cross-container">
            <svg id="cross" class="cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>
        </section>
        <!-- recept -->
        <section id="recept"></section>
        <!---->
        <section id="total-container">
            <a id="checkout" href="/checkout">បន្តការទិញ</a>
            <h3 id="total">4.99 $</h3>
        </section>
    </div>


    <!-- SCRIPTS -->
    <script src="../js/category.js"></script>
    <script src="../js/cart.js"></script>
    <script>
        let qtyInput = document.querySelectorAll("#qty");
        const plus = document.querySelector('#plus')
        const minus = document.querySelector('#minus')
        const qtyValue = document.querySelector('.pop-qty-input');

        plus.addEventListener('click', function() {
            if (qtyValue.value >= 1) {
                qtyValue.value =  parseInt(qtyValue.value) + 1
            }
        })
        minus.addEventListener('click', function() {
            if (qtyValue.value > 1) {
                qtyValue.value = parseInt(qtyValue.value) - 1
            }
                
        })

    </script>
</body>
</html>